<p id="notice"><%= notice %></p>

<p>
    <strong>Title</strong>
    <%= @book.title %>
</p>

<p>
    <strong>Author</strong>
    <%= @book.author %>
</p>

<p>
    <strong>Status</strong>
    <%= @book.status %>
</p>

<p>
    <strong>Lending date</strong>
    <%= @book.lending_date %>
</p>

<p>
    <strong>Return date</strong>
    <%= @book.return_date %>
</p>

<%= link_to 'Go to main', root_path %>